NODE_ENV=development

APP_PORT=9000

LOG_LEVEL=debug

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

BCRYPT_SALT_ROUNDS=12

JWT_SECRET="GANTI_DENGAN_SECRET_KEY_YANG_SANGAT_AMAN_DAN_PANJANG"
JWT_EXPIRES_IN="1d"